/* slide */
.swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
     
     
      
.slick-dots li.slick-active {
        width: 15px !important;
        height: 15px !important;
        border-radius: 28px;
        background: #ffffff !important;
      }
      
      .slick-dots li button:before {
        content: "" !important;
      }
      
      .slick-dots li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        width: 15px !important;
        height: 15px !important;
        border-radius: 15px !important;
        background: #1a1b39 !important;
      }
      
      .slick-dots {
        position: absolute;
        bottom: 70% !important;
        display: block;
        transform: rotate(90deg);
        width: unset !important;
        padding: 0;
        margin: 0;
        right: -25% !important;
        list-style: none;
        text-align: unset !important;
      }
      
      @media (max-width: 1280px) {
        .slick-dots {
          right: -15% !important;
        }
      }
      
      @media (max-width: 1023.9px) {
        .slick-dots {
          right: -7% !important;
        }
      }
      
      @media (max-width: 640px) {
        .slick-dots {
          left: 0% !important;
          bottom: -8% !important;
          transform: rotate(0deg);
        }
      }  
      
       